<div class="about-page">
    @if (en()) {
        <h2 class="about-title">ABOUT</h2>
        <p>Hello !</p>
        <p>I'm Sven, a professional developer for 10 years, including 4 years as a Gameplay/Instrument programmer on Microsoft Flight Simulator at Asobo Studio.</p>
        <p>In 2023, I created Tiaratum Games, a game development studio where I make 3D web games.</p>
        <p>Marble Run Simulator, a marble track construction game, was released in 2024, exclusively published by Poki. More than 1.7 million players have already tried it and shared thousands of machines!</p>
        <p>Beside marble machines, I am passionate about voxels, procedural generation, and animation.</p>
        <p>Thanks for your interest and have a nice day!</p>
        <p>— Sven Taton</p>
    }
    @if (fr()) {
        <h2 class="about-title">À PROPOS</h2>
        <p>Bonjour !</p>
        <p>Je suis Sven, développeur professionnel depuis 10 ans, dont 4 ans comme programmeur Gameplay/Instrument sur Microsoft Flight Simulator chez Asobo Studio.</p>
        <p>En 2023 j'ai créé Tiaratum Games, un studio de développement de jeux vidéo où je conçois des jeux web en 3D.</p>
        <p>Marble Run Simulator, un jeu de construction de circuits à billes, est sorti en 2024, publié exclusivement par Poki. Plus de 1,7 million de joueurs l'ont déjà essayé et y ont partagé des milliers de machines !</p>
        <p>A part les circuits à billes, je suis passionné par les voxels, la génération procédurale et l'animation.</p>
        <p>Merci pour votre intérêt et bonne journée !</p>
        <p>— Sven Taton</p>
    }

    @if (false) {
        <p><strong>Q: Source are disclosed, but I don't understand how to compile and run the project ?</strong></p>
        <p>It's probably caused by the fact I've used an old-fashioned build system, that requires specific environment setup for many projects.</p>
        <p>More specificaly, I stayed away from npm + webpack because I disliked the fact a simple Hello World app requires downloading several MBytes of dependencies to run and takes too long to transpile while coding. I used instead the whole BabylonJS library as a single javascript file and two homemade tool libraries (Nabu and Mummu), also as single javascript files.</p>
        <p>It has obvious limits, the absence of tree-shaking being the main one, so I've moved on to a more modern setup for new projects in 2026, using Vite.</p>
        <p>Anyway, if you want to compile and run a project I set up the old-fashioned way :</p>
        <p>If there's instructions in the ReadME, try to follow them.</p>
        <p>If you are looking for the libraries Mummu and Nabu, they are available on GitHub.</p>
        <p>GitHub copilot or an equivalent might be able to help you at this point.</p>
        <p>If you're still having trouble, feel free to reach out for assistance !</p> 
    }
    
    <div class="legal-notice">
        @if (en()) {
            <h2 class="about-title">Legal Notice</h2>

            <p><strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> is edited by Sven Taton, individual entrepreneur registered at the RCS under the number 980358428. <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> registered office is located at 84 rue du 14 Juillet, 33400 TALENCE, France.</p>
            <p><strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> is hosted by OVH, whose registered office is located at 2 rue Kellermann, 59100 Roubaix, France.</p>
            <p>While Sven Taton and Tiaratum Games sincerely believe your online activites are meaningful, significant and interesting, neither Sven Taton nor Tiaratum Games made the effort to set up cookies and server side data management : no personal data is collected during your navigation on this website.</p>
            <p>If data were to be collected by a game created or published by <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong>, or by a platform hosting a game created by <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong>, their processing would be subject to specific terms of use accessible from the concerned game or platform.</p>
            <p>For any questions or requests regarding the <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> website, you can contact me at the following email address: tiaratumgames@gmail.com</p>
        }
        @if (fr()) {
            <h2 class="about-title">Mentions légales</h2>
            <p><strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> est édité par Sven Taton, entrepreneur individuel enregistré au RCS sous le numéro 980358428. Le siège social de <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> est situé au 84 rue du 14 Juillet, 33400 TALENCE, France.</p>
            <p><strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong> est hébergé par OVH, dont le siège social est situé au 2 rue Kellermann, 59100 Roubaix, France.</p>
            <p>Bien que Sven Taton et Tiaratum Games croient sincèrement que vos activités en ligne sont significatives et dignes d'intérêt, ni Sven Taton ni Tiaratum Games n'ont fait l'effort de mettre en place des cookies et une gestion des données côté serveur : aucune donnée personnelle n'est collectée lors de votre navigation sur ce site.</p>
            <p>Si des données devaient être collectées par un jeu créé ou publié par <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong>, ou par une plateforme hébergeant un jeu créé par <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong>, leur traitement serait soumis à des conditions d'utilisation spécifiques accessibles depuis le jeu ou la plateforme concernée.</p>
            <p>Pour toute question ou demande concernant le site <strong>Sven&nbsp;//&nbsp;Tiaratum Games</strong>, vous pouvez me contacter à l'adresse email suivante : tiaratumgames@gmail.com</p>
        }
    </div>
</div>
