* {
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #00000080;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--color-white);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    line-height: 40px;
    font-size: 40px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button i {
    font-size: 40px;
    color: var(--color-white);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots-container {
    position: absolute;
    bottom: 0px;
}

button.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-white);
    padding: 0;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

button.dot.active {
    width: 10px;
    height: 10px;
    margin: 5px 5px;
}

.media-description {
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: 10px;
}